<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <h>URL  Shortener </h>
     <% if(locals.id){
        <p>URL Generated: https://localhost:8080/url/ <%=id %> </p>
     }
     <div>
        <form method="POST" action="/url" >
            <label>enter your url</label>
            <input type="text"
            name = "url"
            placeholder="fhtt.com"/>

            <button type="submit"> Generate</button>
        </form>
     </div>
</body>
</html>